.product__list__details {
    width: var(--width);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 9px;
    &__btn__new-review {
        position: relative;
        right: -1174px;
        display: none;
        &.active {
            display: block;
        }
    }
}

.product__details {
    display: flex;
    gap: 0 48px;
    &__picture {
        position: relative;
    }
    &__sale {
        position: absolute;
        background-color: #d6763c;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        margin-left: 16px;
        margin-top: 16px;
        opacity: 0;
        visibility: inherit;
        &__info {
            text-align: center;
            color: var(--white-color);
            font-size: 1.5rem;
            font-weight: 700;
            line-height: calc(17 / 15);
            margin-top: 12px;
        }
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__images__main {
        width: 550px;

        img {
            width: 550px;
            height: 685px;
            object-fit: cover;
        }
    }

    &__list {
        display: flex;
        gap: 0 10px;
    }

    &__list__images {
        cursor: pointer;
        :hover {
            border: 1px solid red;
        }
    }

    &__description {
        &__path {
            &__title {
                color: #555;
                text-transform: uppercase;
                font-size: 1.5rem;
                line-height: calc(17 / 15);
                font-weight: 700;
                strong {
                    margin-left: 4px;
                    color: var(--text-color);
                }
            }
        }
        &__title {
            margin-top: 16px;
            text-transform: uppercase;
            font-size: 3.6rem;
            line-height: calc(48 / 36);
            font-weight: 700;
            color: var(--text-color);
        }
        &__description {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: calc(19 / 16);
            color: #555;
            max-width: 550px;
            margin-top: 26px;
        }
    }

    &__vote {
        display: flex;
        font-size: 1.4rem;
        line-height: calc(48 / 14);
        font-weight: 900;
        padding: 16px 0;
        &__quantity {
            margin-top: 2px;
            margin-left: 5px;
            font-size: 1.3rem;
            line-height: calc(16 / 14);
            font-weight: 400;
            color: var(--text-color);
        }
    }

    &__price {
        display: flex;
        align-items: center;
        margin-top: 13px;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: calc(28 / 24);
        &__old {
            color: #555;
            margin-left: 14px;
        }
        &__cur {
            color: var(--primary-color);
            // margin-left: 14px;
        }
    }

    &__color {
        display: flex;
        align-items: center;
        margin-top: 36px;
        &__title {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: calc(19 / 16);
        }
        &__list {
            margin-left: 16px;
        }
        &__circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #ebebeb;
            cursor: pointer;
            &:hover {
                border-color: var(--primary-color);
            }
        }
        & .active {
            border: 1px solid var(--primary-color);
            border-radius: 50%;
        }
    }

    &__size {
        margin-top: 36px;
        &__dropdown {
            display: flex;
            align-items: center;
            max-width: 210px;
            background-color: #ebebeb;
            border: 1px solid #ebebeb;
            font-size: 1.6rem;
            line-height: calc(19 / 16);
            font-weight: 400;
            padding: 14px 0;
            cursor: pointer;
            :hover {
                display: flex;
            }
            &__select {
                margin-left: 16px;
            }
            img {
                margin-left: auto;
                margin-right: 16px;
            }
            &__list {
                background-color: #fbfbfb;
                max-width: 210px;
                :hover {
                    background-color: #ebebeb;
                }
            }

            &__item {
                text-transform: uppercase;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                color: var(--text-color);
                font-size: 1.6rem;
                line-height: calc(19 / 16);
                font-weight: 400;
                border: 1px solid #ebebeb;
                padding: 14px 0;
                &__size {
                    margin-left: 16px;
                }
            }
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        margin-top: 36px;
        &__title {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: calc(19 / 16);
        }
        &__btn {
            border: 1px solid #ebebeb;
            user-select: none;
            cursor: pointer;
            font-size: 1.4rem;
            margin-left: 16px;
            &__minus,
            &__plus {
                padding: 8px 16px;
            }
        }
        &__input {
            padding: 8px 32px;
            border: 1px solid #ebebeb;
            font-size: 1.6rem;
            font-weight: 400;
            color: #555;
            margin-left: 16px;
        }
    }

    &__stock {
        margin-top: 36px;
        display: flex;
        align-items: center;
        &__title {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: calc(19 / 16);
        }
        &__info {
            padding: 4px 8px;
            margin-left: 8px;
            color: var(--black-color);
            border: 1px solid #ebebeb;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: calc(19 / 16);
        }
    }

    &__btn {
        min-width: 165px !important;
        margin-top: 50px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: calc(20 / 14);
    }

    &__info {
        margin-top: 32px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: calc(24 / 14);
        padding: 16px 0;
    }

    &__coming {
        margin-top: 16px;
        font-size: 2.4rem;
        font-weight: 500;
    }

    &__socials {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 0 5px;
        &__item {
            background-color: #f1f1f1;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            p {
                text-align: center;
                color: #818181;
                margin-top: 8px;
            }
            &__email {
                display: flex;
                margin: auto;
                margin-top: 8px;
            }
        }
    }
}

.product__description {
    margin-top: 97px;
    margin-bottom: 48px;
    position: relative;

    &__title {
        display: flex;
        &__btn {
            color: #555;
            border: 1px solid #ccc;
            padding: 20px 34px;
            background-color: #fbfbfb;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: calc(18 / 16);
            opacity: 0.3;
        }
        & .active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__content {
        width: 100%;
        max-height: 246px;
        &__reviews {
            padding: 32px;
            border: 1px solid #ccc;
            width: 100%;
            height: 256px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: darkgrey;
                border: 1px solid #ccc;
                border-radius: 10px;
            }
        }
        &__description {
            margin-left: 12px;
            width: 100%;
            height: 100%;
            color: #555;
            margin-top: 48px;
            align-items: center;
            font-size: 1.6rem;
            line-height: calc(19 / 16);
            font-weight: 400;
            display: none;
            &.active {
                display: flex;
            }
        }
    }
}

.product-view__modal {
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    padding-left: 36.5px;
    padding-right: 36.5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba($color: black, $alpha: 0.4);
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        margin: auto;
        padding: 20px;
        background-color: var(--white-color);
        width: 82%;
        position: relative;
        opacity: 0;
        transform: translateY(-250px);
        transition: transform 0.3s ease;
        &__btn {
            font-size: 1.4rem !important;
            color: var(--primary-color);
            font-weight: 400;
            line-height: calc(16 / 14);
            position: absolute;
            right: 4px;
            top: 4px;
            min-width: 30px;
            height: 30px;
            text-align: center;
            padding: 0px;
        }
        &.active,
        &__content {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
