@import 'normalize.css';

:root {
    --width: 1366px;
    --primary-color: #024e82;
    --text-color: #1d1d1d;
    --white-color: #fff;
}

$colors: (
    'Blue': #4267b2,
    'Pink': #fe7e73,
    'White': #fff,
    'Black': #000,
    'Red': #ff0000,
    'Yellow': #ff0,
    'Green': #15ff00,
);

@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }

    .bg-#{$color} {
        background-color: $val;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    text-decoration: none !important;
    color: var(--text-color) !important;
}

li {
    list-style: none;
}
ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

.container-xxl {
    margin: 0 !important;
    padding: 0 !important;
}
